
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        The current link item
    </a>
    <a  class="list-group-item list-group-item-action" @Html.ActionLink("Category","Index","Category")
    <a class="list-group-item list-group-item-action" @Html.ActionLink("Sybcategory","Index","Subcategory")
    <a class="list-group-item list-group-item-action"  @Html.ActionLink("Jobs","Index","Jobs")
    <a class="list-group-item list-group-item-action " @Html.ActionLink("Application","Index","Application") </a>
</div>